# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage reports
.coverage
.coverage.*
coverage.xml

# Logs
*.log

# Environments
.env

# mypy
.dmypy.json
dmypy.json

# PyCharm
.idea/

# hatch-vcs
src/*/_version.py
