# Only for testing pinned versions on the CI
freezegun==1.5.5
platformdirs==4.5.0
prettytable==3.16.0
pytablewriter[html]==1.2.1
pytest==8.4.2
pytest-cov==7.0.0
python-slugify==8.0.4
termcolor==3.2.0
urllib3==2.3.0
