# Only for testing pinned versions on the CI
freezegun==1.2.2
httpx==0.23.0
platformdirs==2.5.2
prettytable==3.4.1
pytablewriter[html]==0.64.2
pytest==7.1.2
pytest-cov==3.0.0
python-slugify==6.1.2
respx==0.20.0
termcolor==1.1.0
